# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [15]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [16]:
b()  
b()
b()
a

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
fileLength('midterm.py')
358
fileLength('idterm.py')
File idterm.py not found.

In [17]:
def fileLength(name):
    try:
        f = open(name,'r')
        s = f.read()
        print(len(s))
    except:
        print("File" " "+ name + " " "not found.")

In [18]:
fileLength('midterm.py')

253

In [19]:
fileLength('idterm.py')

File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
k = Kangaroo(0,0)
print(k)
I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
.pouch_contents()
['doll', 'firetruck', 'kitten']
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
I am a Kangaroo located at coordinates (3,0)

In [20]:
class Marsupial:
    
    def __init__(self):
        self.pouchContents = []
    def pouch_contents(self):
        print(self.pouchContents)
    def put_in_pouch(self,word):
        self.pouchContents.append(word)

In [21]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a kangaroo located at coordinates ({} , {})".format(self.x,self.y)

In [23]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates (0 , 0)

In [24]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [25]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3 , 0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

In [26]:
def collatz(number):
    print(int(number))
    
    if number<0:
        print("Enter a postive integer")
        
    elif number==1:
        return
    
    elif number%2 !=0:
        number = (3*number)+1
        collatz(number)
        
    elif number%2 ==0:
        number/=2
        collatz(number)

In [27]:
>>> collatz(1)

1

In [28]:
>>> collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
binary(0)
0
binary(1)
1
binary(3)
11
binary(9)
1001

In [1]:
def binary(number):
    if number<0:
        print("Given number is not a positive integer.")
    elif number==0:
        print(0)
    else:
        mod = number%2
        print(mod, end="")
        number = number//2
        binary(number)

In [2]:
binary(0)

0

In [3]:
binary(1)

10

In [4]:
binary(3)

110

In [5]:
binary(9)

10010

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the 
document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed
a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have 
indentation 1, etc. Test your implementation using w3c.html.
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
W3C Mission
Principles

In [89]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.headingFound = False
        
    def handle_starttag(self, tag, attrs):
        headingTag = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
        if tag in headingTag:
            self.headingFound = True
            self.indent = headingTag.index(tag)
        else:
            self.headingFound = False
            
    def handle_data(self, data):
        if self.headingFound == True:
            print(' '*self.indent, data, end = '')

In [90]:
infile = open('w3c.html')
content = infile.read()
infile.close()
headingparser = HeadingParser()
headingparser.feed(content)

 W3C Mission
  Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' , 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [8]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser


class Findlinks(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.subLinks = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    subURL = urljoin(self.url, attr[1])
                    if subURL[:4] == 'http':
                        self.subLinks.append(subURL)

    def getLinks(self):
        return self.subLinks


def webdir(startLink, depth, indent):

    try:
        htmlData = urlopen(startLink)
        content = htmlData.read().decode()
        getURL = Findlinks(startLink)
        getURL.feed(content)
        urls = getURL.getLinks()
        if indent == 0:
            print(startLink)
        indent += 4
        depth -= 1
        print(' '*indent, startLink, end = '\n')
        for url in urls:
            if depth > 0:
                webdir(url, depth, indent)
    except ValueError:
        print("Caught execption", e)


webdir("http://reed.cs.depaul.edu/lperkovic/one.html ", 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
     http://reed.cs.depaul.edu/lperkovic/one.html
         http://reed.cs.depaul.edu/lperkovic/two.html
         http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [17]:
import sqlite3
con = sqlite3.connect('web_1.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather(City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9 )")
Row1 = ('Mumbai', 'India', 'Spring', 28.4, 16.2 )
Row2 = ('Mumbai', 'India', 'Summer', 27.9, 1549.4 )
Row3 = ('Mumbai', 'India', 'Fall', 27.6, 346.0 )
Row4 = ('London', 'United Kingdom', 'Winter', 4.2, 207.7)
Row5 = ('London', 'United Kingdom', 'Spring', 8.3, 169.6 )
Row6 = ('London', 'United Kingdom', 'Summer', 15.7, 157.0 )
Row7 = ('London', 'United Kingdom', 'Fall', 10.4, 218.5 )
Row8 = ('Cairo', 'Egypt', 'Winter', 13.6, 16.5 )
Row9 = ('Cairo', 'Egypt', 'Spring', 20.7, 6.5 )
Row10 = ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
Row11 = ('Cairo', 'Egypt', 'Fall', 22.2, 4.5 )

cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row1)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row2)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row3)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row4)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row5)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row6)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row7)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row8)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row9)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row10)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)",Row11)

con.commit()
con.close()

In [28]:
con = sqlite3.connect('web_1.db')
cur = con.cursor()

#a) All the temperature data.

cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [29]:
#b) All the cities, but without repetition

cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [30]:
#c) All the records for India

cur.execute('SELECT * FROM Weather WHERE Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [31]:
#d) All the Fall records.

cur.execute('SELECT * FROM Weather WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [32]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cur.execute('SELECT DISTINCT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 and 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [33]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute('SELECT DISTINCT City, Country, Season FROM Weather WHERE Season="Fall" AND Temperature>20 ORDER BY TEMPERATURE')
cur.fetchall()

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [34]:
#g) The total annual rainfall for Cairo.

cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

In [35]:
#h) The total rainfall for each season.

cur.execute('SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
#a) 

task1 = [w.upper() for w in words]
print(task1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [43]:
#b) 

task2 = [w.lower() for w in words]
print(task2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [44]:
#c)

task3 = [len(w) for w in words]
print(task3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [45]:
#d)

task4 = [[w.upper(), w.lower(), len(w)] for w in words]
print(task4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [47]:
#e)

task5 = [w for w in words if len(w)>=4]
print(task5)

['quick', 'brown', 'jumps', 'over', 'lazy']